body {
  font-family: sans-serif;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  vertical-align: top;
}

th {
  background-color: #f0f0f0;
}

.cover-col {
  max-width: 300px;
  overflow-y: auto;
}

/* for editing */
input.form-control, textarea.form-control {
  font-size: 0.9rem;
  padding: 0.25rem;
}

td .form-control {
  width: 100%;
}
